server:
  port: 9090
  servlet:
    context-path: /demo
  undertow:
    max-http-post-size: 0

spring:
  application:
    name: demo
  main:
    allow-bean-definition-overriding: true
  jpa:
    database: default
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    # The SQL dialect makes Hibernate generate better SQL for the chosen database
  thymeleaf:
    cache: false
    check-template-location: true
    mode: HTML
    prefix: classpath:/templates/
    suffix: .html
    template-resolver-order: 1
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jackson:
    default-property-inclusion: non_absent
